# Default owners for everything
* @@MyBjjEire/infra-team 

# Umbrella chart
/bjj-eire/** @@MyBjjEire/infra-team 

# Subcharts
/bjj-eire-api/** @@MyBjjEire/infra-team 
/bjj-eire-web/** @@MyBjjEire/infra-team 
/bjj-eire-mongodb/** @@MyBjjEire/infra-team 

# GitOps manifests
/manifests/** @@MyBjjEire/infra-team 

# Scripts
/scripts/** @@MyBjjEire/infra-team 

# CI/CD workflows
/.github/** @@MyBjjEire/infra-team 
